spring:
  datasource:
    initialization-mode: always
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      connection-init-sql: SET TIME ZONE 'Europe/Moscow'
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DATABASE_HOST:localhost}/${DATABASE_NAME:postgres}?currentSchema=public
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:docker}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect
        jdbc:
          time_zone: UTC+3
          batch_size: 5
        order_updates: true
        order_inserts: true
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/master.xml

  main:
    allow-bean-definition-overriding: true
  application:
    name: mmbp-server-side

  profiles:
    active: dev

logging:
  level:
    ROOT: INFO
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
    org.springframework: INFO
    org.springframework.data: INFO
    ru.spb.devpractices: DEBUG
  file:
    name: /home/polarcheshire/Coding/logs/mb/mbp-server.log



